* {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    padding: 0px;
    border: none;
    list-style-type: none;
    box-sizing: border-box;
  }

  div {
    margin: 0;
    padding: 0; 
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }

  main {
    max-width: 100%;
  }

  .main__container {
    max-width: 1350px;
    margin: 0 auto;
  }
  
  .social {
    cursor: pointer;
  }

  header {
    width: 100%;
    margin: 0;
    padding: 0px;
  }

  a {
    text-decoration: none;
  }
  
  #title__1 h1, #title__2 h1 {
    text-align: center;
    padding-bottom: 100px;
    font-size: 40px;
    color: #090705;
    font-weight: normal;
  }

  h3 {
    text-align: center;
    padding: 40px 0 40px;
    font-size: 30px;
    color: #090705;
    font-weight: normal;
  }


  h4 {
    text-align: center;
    padding: 20px 0 20px;
    font-size: 25px;
    color: #090705;
    font-weight: normal;
  }