* {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    border: none;
    list-style-type: none;
    box-sizing: border-box
  }
  
  img {
    width: auto;
    margin: auto;
    cursor: pointer;
  }

  header {
    width: 100%;
    margin: 0;
    padding: 0px;
  }
  
  html, body {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  p, span, strong, h3, a, img,div {
    background-color: transparent;
  }