.topbar {
  background: rgb(112, 90, 67, 0.25);
}

.topbar__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  max-width: 1350px;
  padding: 8px 0 9px;
  height: 30px;
}

.topbar__item1,
.topbar__item2,
.topbar__item3,
.topbar__item4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_topbar,
.icon_topbar,
.icon_topbar,
.icon_topbar {
  margin-left: 90px;
  display: flex;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 25px;
  max-height: 25px;
}

.header {
  background: #F6F5EC;
}

.header__container {
  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 150px;
  max-width: 1350px;
}

.menu ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li {
  height: 100%;
  margin: 0;
  margin-left: 79px;
}

.menu a:link {
  color: #090705;
  text-decoration: none;
}

.menu a:visited {
  color: #090705;
  text-decoration: none;
}

.menu a:hover {
  color: #858585;
}

#bt_menu,
.hamburguer {
  display: none;
}

.logo {
  max-width: 200px;
  max-height: 140px;
}

@media screen and (max-width: 992px) {

  .topbar__container,
  .icon_topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
  }

  .header__container,
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 70px;
  }

   .menu ul {
    margin: 0 auto;
    display: block;
    text-align: center;
    height:60px;
  } 

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    overflow: hidden;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 358px;
    height: 100%;
    max-height: 100%;
    max-width: calc(100% - 45px);
    background: #858585;
    transform: translate3d(-100%, 0, 0);
    transition: all 300ms ease-in-out;
  }

  .hamburguer {
    display: flex;
    align-items: center;
    max-width: 40px;
    max-height: 40px;
  }

  #bt_menu:checked~.menu {
    visibility: visible;
    background-color: #858585;
    height: 100%;
    width: 256px;
    flex: 1;
    min-height: 0;
    overflow: auto;
    transform: translate3d(100%, 0,0 );
  }

}

@media screen and (min-width: 992px) {

  .icon_topbar a:hover img {
    filter: drop-shadow(#858585);
    opacity: 0.7;
  }
}