.topbar {
  background: rgb(112, 90, 67, 0.25);
}

.topbar__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  max-width: 1350px;
  padding: 8px 0 9px;
  height: 30px;
}

.topbar__item1,
.topbar__item2,
.topbar__item3,
.topbar__item4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_topbar,
.icon_topbar,
.icon_topbar,
.icon_topbar {
  margin-left: 90px;
  display: flex;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 25px;
  max-height: 25px;
}

.header {
  background: #F6F5EC;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1350px;
  height: 150px;
}

.logo {
  max-width: 200px;
  max-height: 140px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu>ul {
  list-style: none;
  position: relative;
}

.menu ul li {
  margin: 0 0 0 105px;
  float: left;
}

.header__container,
.menu {
  position: relative;
}

.menu a {
  display: block;
  text-decoration: none;
  text-align: center;
}

.menu ul ul {
  list-style: none;
  position: absolute;
  visibility: hidden;

}

.menu ul li:hover ul {
  visibility: visible;
}

.menu a:hover {
  color: #705A43;
}

.menu ul ul li {
  float: none;
  border-bottom: solid 1px #ccc;
}

#bt_menu {
  display: none;
}

label[for='bt_menu'] {
  padding: 5px;
  color: #353333;
  font-family: 'Arial';
  text-align: center;
  width: 50px;
  height: 50px;
}

.menu a:link {
  color: #090705;
  text-decoration: none;
}

.menu a:visited {
  color: #090705;
  text-decoration: none;
}

.menu a:hover {
  color: #858585;
}

@media screen and (max-width: 992px) {

  .topbar__container,
  .icon_topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
  }

.menu{
  visibility: hidden;

}

  label[for='bt_menu'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 20px;
    max-height: 20px;
    background: transparent;
    
  }

  .menu>ul {
    margin-left: 0;
  }

  .menu {
    margin-top: 5px;
  }

  .menu ul li {
    width: 100%;
    float: none;
  }

  .menu ul ul {
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all .4s;
  }

  .menu ul li:hover ul {
    height: auto;
    max-height: 200px;
    transition: all .4s;
  }

  #bt_menu:checked~.menu {
    visibility: visible;
    margin-right: 0;
  }

  .header__container,
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

}

@media screen and (min-width: 992px) {

  .icon_topbar a:hover img {
    filter: drop-shadow(#858585);
    opacity: 0.7;
  }
}