
.topbar {
  background: rgb(112, 90, 67,0.25);
}

.topbar__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  max-width: 1300px;
  padding: 8px 0 7px;
  height: 30px;
}

.topbar__item1,
.topbar__item2,
.topbar__item3,
.topbar__item4  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .icon_topbar, 
 .icon_topbar, 
 .icon_topbar,
 .icon_topbar {
  margin-left: 90px;
  display: flex;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 25px;
  max-height: 25px;
}

.header {
  background: rgb(246, 245, 236);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__container {
  display: flex;
  align-items: center;
  height: 150px;
  margin-left: 150px;
}

.logo__container {
  display: flex;
  justify-content: flex-start;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 180px;
    max-width: 200px;
    max-height: 140px;
}

.menu__container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.menu {
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
   .topbar__container, .social {
    height: 20px;
    width: 20px;
  }
}