* {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box
  }
  
  img {
    vertical-align: middle;
    background-color: transparent;
  }
  
  header {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
  }