.header {
    position: sticky;
    top: 0;
    background: rgb(246, 245, 236);
    height: 150px;
    width: 100%;
  }

.topbar {
    background: rgb(112, 90, 67,0.25);
    height: 30px;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
  }